.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
}
/* .sidebar nav {
  position: fixed;
} */

.sidebarUl {
  list-style-type: none;
  padding: 0px;
}

.sidebarUl a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Optional: Match parent text color */
}
.sidebarUl a:hover {
  color: #000;
}

.sidebarUl li {
  margin-top: 15px;
  color: #b1b1b1;
}
.sidebarUl li.selected {
  color: #000;
}
