body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  width: 20%;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOutline {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOuter {
  padding: 10px;
}
.white-rounded {
  background-color: #ffffff;
  border-radius: 20px;
}
.row3-height {
  height: 275px;
}
.sidebar-link {
  display: flex;
  /* justify-content: space-between; */
  gap: 20;
  align-items: center;
}
.mainContent {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Adjust as needed */
  gap: 20px;
  padding: 0px 20px;
  background-color: #f8f9fa; /* Example background */
}
/* .slick-slide {
  margin-right: 20px; 
} 
*/

@media (max-width: 768px) {
  .dashboard {
    display: block;
  }

  .sidebar {
    display: none;
  }
}
