body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  width: 20%;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOutline {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOuter {
  padding: 10px;
}
.white-rounded {
  background-color: #ffffff;
  border-radius: 20px;
}
.row3-height {
  height: 275px;
}
.sidebar-link {
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
  align-items: center;
}
.mainContent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  padding: 0px 20px;
  background-color: #f8f9fa;
  margin-top: 100px;
}

.recent-transactions ul {
  padding: 0px;
}

.mobile-show {
  display: none;
}

@media (max-width: 768px) {
  .dashboard {
    display: block;
  }

  .sidebar {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
  .mainContent {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  .mobile-show {
    display: inline;
  }
}
/* @media screen and (max-width: ) {
} */
