body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  width: 20%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOutline {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardOuter {
  padding: 10px;
}

@media (max-width: 768px) {
  .dashboard {
    display: block;
  }

  .sidebar {
    display: none;
  }
}
